# EDA: Diagnosing Diabetes

In this project, you'll imagine you are a data scientist interested in exploring data that looks at how certain diagnostic factors affect the diabetes outcome of women patients.

You will use your EDA skills to help inspect, clean, and validate the data.

**Note**: This [dataset](https://www.kaggle.com/uciml/pima-indians-diabetes-database) is from the National Institute of Diabetes and Digestive and Kidney Diseases. It contains the following columns:

- `Pregnancies`: Number of times pregnant
- `Glucose`: Plasma glucose concentration per 2 hours in an oral glucose tolerance test
- `BloodPressure`: Diastolic blood pressure
- `SkinThickness`: Triceps skinfold thickness
- `Insulin`: 2-Hour serum insulin
- `BMI`: Body mass index
- `DiabetesPedigreeFunction`: Diabetes pedigree function
- `Age`: Age (years)
- `Outcome`: Class variable (0 or 1)

Let's get started!

## Initial Inspection

1. First, familiarize yourself with the dataset [here](https://www.kaggle.com/uciml/pima-indians-diabetes-database).

   Look at each of the nine columns in the documentation.
   
   What do you expect each data type to be?

Expected data type for each column:

- `Pregnancies`: 
- `Glucose`: 
- `BloodPressure`: 
- `SkinThickness`: 
- `Insulin`: 
- `BMI`: 
- `DiabetesPedigreeFunction`: 
- `Age`: 
- `Outcome`:

2. Next, let's load in the diabetes data to start exploring.

   Load the data in a variable called `diabetes_data` and print the first few rows.
   
   **Note**: The data is stored in a file called `diabetes.csv`.

In [14]:
import pandas as pd
import numpy as np

# load in data
df = pd.read_csv("diabetes.csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

3. How many columns (features) does the data contain?

In [8]:
# print number of columns
print(f"There are {len(df.columns)} columns")

There are 9 columns

4. How many rows (observations) does the data contain?

In [10]:
# print number of rows
print(f"There are {len(df)} rows")

There are 768 rows

## Further Inspection

5. Let's inspect `diabetes_data` further.

   Do any of the columns in the data contain null (missing) values?

In [12]:
# find whether columns contain null values
df[df.isnull().any(axis=1)] #it appears to not have any NaN values but it doesnt necessarily mean anything.

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

6. If you answered no to the question above, not so fast!

   While it's technically true that none of the columns contain null values, that doesn't necessarily mean that the data isn't missing any values.
   
   When exploring data, you should always question your assumptions and try to dig deeper.
   
   To investigate further, calculate summary statistics on `diabetes_data` using the `.describe()` method.

In [16]:
# perform summary statistics
df.describe()

       Pregnancies     Glucose  ...  DiabetesPedigreeFunction         Age
count   768.000000  768.000000  ...                768.000000  768.000000
mean      3.845052  120.894531  ...                  0.471876   33.240885
std       3.369578   31.972618  ...                  0.331329   11.760232
min       0.000000    0.000000  ...                  0.078000   21.000000
25%       1.000000   99.000000  ...                  0.243750   24.000000
50%       3.000000  117.000000  ...                  0.372500   29.000000
75%       6.000000  140.250000  ...                  0.626250   41.000000
max      17.000000  199.000000  ...                  2.420000   81.000000

[8 rows x 8 columns]

7. Looking at the summary statistics, do you notice anything odd about the following columns?

   - `Glucose`
   - `BloodPressure`
   - `SkinThickness`
   - `Insulin`
   - `BMI`

**Your response to question 7**:

8. Do you spot any other outliers in the data?

**Your response to question 8**:

9. Let's see if we can get a more accurate view of the missing values in the data.

   Use the following code to replace the instances of `0` with `NaN` in the five columns mentioned:
   
   ```py
   diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = diabetes_data[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)
   ```

In [18]:
# replace instances of 0 with NaN
df[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']] = df[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']].replace(0, np.NaN)

10. Next, check for missing (null) values in all of the columns just like you did in Step 5.

    Now how many missing values are there?

In [22]:
# find whether columns contain null values after replacements are made
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50        1
1            1     85.0           66.0  ...                     0.351   31        0
2            8    183.0           64.0  ...                     0.672   32        1
3            1     89.0           66.0  ...                     0.167   21        0
4            0    137.0           40.0  ...                     2.288   33        1

[5 rows x 9 columns]

11. Let's take a closer look at these rows to get a better idea of _why_ some data might be missing.

    Print out all the rows that contain missing (null) values.

In [21]:
# print rows with missing values
df[df.isnull().any(axis=1)]

     Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0              6    148.0           72.0  ...                     0.627   50        1
1              1     85.0           66.0  ...                     0.351   31        0
2              8    183.0           64.0  ...                     0.672   32        1
5              5    116.0           74.0  ...                     0.201   30        0
7             10    115.0            NaN  ...                     0.134   29        0
..           ...      ...            ...  ...                       ...  ...      ...
761            9    170.0           74.0  ...                     0.403   43        1
762            9     89.0           62.0  ...                     0.142   33        0
764            2    122.0           70.0  ...                     0.340   27        0
766            1    126.0           60.0  ...                     0.349   47        1
767            1     93.0           70.0  ...                     0.315   23        0

[376 rows x 9 columns]

12. Go through the rows with missing data. Do you notice any patterns or overlaps between the missing data?

**Your response to question 12**:

13. Next, take a closer look at the data types of each column in `diabetes_data`.

    Does the result match what you would expect?

In [23]:
# print data types using .info() method
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB

14. To figure out why the `Outcome` column is of type `object` (string) instead of type `int64`, print out the unique values in the `Outcome` column.

In [26]:
# print unique values of Outcome column
df.Outcome.unique()

array(['1', '0', 'O'], dtype=object)

15. How might you resolve this issue?

**Your response to question 15**:

In [29]:
#The datatype should be bool because it should contain only 1 or 0 but some of the values are mixed up with the letter "0" and therefore there is a mismatch
#we could correct it as follows:
df.Outcome = df.Outcome.replace("O",0).astype(bool)
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50     True
1            1     85.0           66.0  ...                     0.351   31    False
2            8    183.0           64.0  ...                     0.672   32     True
3            1     89.0           66.0  ...                     0.167   21    False
4            0    137.0           40.0  ...                     2.288   33     True

[5 rows x 9 columns]

## Next Steps:

16. Congratulations! In this project, you saw how EDA can help with the initial data inspection and cleaning process. This is an important step as it helps to keep your datasets clean and reliable.

    Here are some ways you might extend this project if you'd like:
    - Use `.value_counts()` to more fully explore the values in each column.
    - Investigate other outliers in the data that may be easily overlooked.
    - Instead of changing the `0` values in the five columns to `NaN`, try replacing the values with the median or mean of each column.

In [32]:
#using .value_counts()
df.Insulin.value_counts()

105.0    11
130.0     9
140.0     9
120.0     8
94.0      7
         ..
73.0      1
171.0     1
255.0     1
52.0      1
112.0     1
Name: Insulin, Length: 185, dtype: int64

In [45]:
both_zero = df[df.Insulin.isnull() & df.Glucose.isnull()]#probably cause of high NaN values in isulin is that because we already have glucose level?
both_zero

     Pregnancies  Glucose  ...  Age  Outcome
75             1      NaN  ...   22    False
342            1      NaN  ...   22    False
349            5      NaN  ...   37     True
502            6      NaN  ...   41     True

[4 rows x 9 columns]

In [61]:
value = df.Glucose.mean()
# df[df.Insulin.isnull() & df.Glucose.isnull()].Glucose.replace(np.NaN, value, inplace=True)
condition = df['Insulin'].isnull() & df['Glucose'].isnull()

# Replace NaN values in 'Glucose' column for rows where 'Insulin' is null
df.loc[condition, 'Glucose'] = df.loc[condition, 'Glucose'].replace(np.NaN, value)

In [65]:
df[df.Insulin.isnull() & df.Glucose.isnull()]#the change is done

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [70]:
df[df.BloodPressure.isnull()& df.Insulin.notnull()]# This means that whenever we have no BloodPressure measurement we also dont have Insulin

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [72]:
df[df.BloodPressure.isnull()& df.SkinThickness.notnull()] #Only two values which is also a strong correlation

     Pregnancies  Glucose  ...  Age  Outcome
172            2     87.0  ...   25    False
357           13    129.0  ...   44     True

[2 rows x 9 columns]

In [74]:
#we can also change the value with our condition into their mean value
value = df.BloodPressure.mean()
# df[df.Insulin.isnull() & df.Glucose.isnull()].Glucose.replace(np.NaN, value, inplace=True)
condition = df['BloodPressure'].isnull() & df['SkinThickness'].notnull()

# Replace NaN values in 'Glucose' column for rows where 'Insulin' is null
df.loc[condition, 'BloodPressure'] = df.loc[condition, 'BloodPressure'].replace(np.NaN, value)

In [75]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50     True
1            1     85.0           66.0  ...                     0.351   31    False
2            8    183.0           64.0  ...                     0.672   32     True
3            1     89.0           66.0  ...                     0.167   21    False
4            0    137.0           40.0  ...                     2.288   33     True

[5 rows x 9 columns]